{% extends "base.html" %}

{% block title %}Basket{% endblock %}

{% block body %}

        <!-- Add your site or application content here -->
        <div class="container-fluid breadcrumbBox text-center">
            <ol class="breadcrumb">
                <li class="active"><a href="#">Review</a></li>
                <li><a href="{{url}}basket/summary">Summary</a></li>
                <li><a href="{{url}}basket/payments">Payment</a></li>
            </ol>
        </div>
        
        <div class="container text-center">

            <div class="col-md-5 col-sm-12">
                <div class="bigcart"></div>
                <h1>Your shopping cart</h1>
                <p>
                    This is a free and <b><a href="http://tutorialzine.com/2014/04/responsive-shopping-cart-layout-twitter-bootstrap-3/" title="Read the article!">responsive shopping cart layout, made by Tutorialzine</a></b>. It looks nice on both desktop and mobile browsers. Try it by resizing your window (or opening it on your smartphone and pc).
                </p>
            </div>
            <form action="" method="POST">
            <button type="submit" name="remove" class="btn btn-primary">Remove all items</button>
            </form>
            <div class="col-md-7 col-sm-12 text-left">
                <ul>
                    <li class="row list-inline columnCaptions">
                        <span>How many</span>
                        <span>Item name</span>
                        <span>Price</span>
                    </li>
                    {% set total = 0 %}
                    {% for b in basket.item %}
                    <li class="row">
                        <span id="pop{{i}}" class="popbtn pop" ><a class="arrow"></a></span>
                        <span class="quantity">{{ b.inBasketProduct }}</span>
                        <span class="price">{{ b.price }} zł</span>
                        <span class="itemName">{{ b.name }}</span>
                    </li>

                    <div id="pop{{i}}_content" class="popSourceBlock" style="display:none;">
                        <div class="popTitle">
                            Title 1
                        </div>
                        <div class="popContent">
                    <form action="" method="POST">
                    <input value="{{ b.inBasketProduct }}" name="countProduct" id="inputCount" />
                    <button type="submit" name="edit[{{ b.idproduct }}]" class="glyphicon glyphicon-pencil"></button>
                    </form>
                    <a href="./basket/delete/{{ b.idproduct }}"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </div>
                    {% set i = i + 1 %}
                    {% set total = total + b.price %}
                    {% endfor %}

                    <li class="row totals">
                        <span class="itemName">Total:</span>
                        <span class="price">{{ total }} zł</span>
                        <span class="order"> <a href="./basket/summary" class="text-center">ORDER</a></span>
                    </li>
                </ul>
            </div>
        </div>


{% endblock %}
