{% extends "base.html" %}

{% block title %}Basket - payments{% endblock %}

{% block body %}

        <!-- Add your site or application content here -->
        <div class="container-fluid breadcrumbBox text-center">
            <ol class="breadcrumb">
                <li><a href="../basket">Review</a></li>
                <li><a href="./summary">Summary</a></li>
                <li class="active"><a href="#">Payment</a></li>
            </ol>
        </div>


<!-- Credit card form -->

<form action="" method="POST">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><img class="pull-right" src="http://i76.imgup.net/accepted_c22e0.png">Payment Details</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" action="" role="form" id="payment-form" autocomplete="off">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="cardNumber" placeholder="Valid Card Number" required autofocus data-stripe="number" />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                               <label for="expMonth">EXPIRATION DATE</label>
                                <div class="form-group">
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="text" class="form-control" name="expMonth" placeholder="MM" required data-stripe="exp_month" />
                                    </div>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="text" class="form-control" name="expYear" placeholder="YY" required data-stripe="exp_year" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cvCode">CV CODE</label>
                                    <input type="password" class="form-control" name="cvCode" placeholder="CV" required data-stripe="cvc" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="couponCode">COUPON CODE</label>
                                    <input type="text" class="form-control" name="couponCode" />
                                </div>
                            </div>                        
                        </div>
                        <div class="row" style="background-color: #f2f6f9">
                            <div class="col-xs-12">
                <ul style="list-style: none;">
                    <li class="row totals">
                    {% set total = 0 %}
                    {% for b in basket %}
                    {% set total = total + b.0.price %}
                    {% endfor %}
                        <span class="itemName">Total:</span>
                        <span class="price">{{ total }} zł</span>
                        <button type="submit" name="pay" class="btn btn-primary">PAY</button>
    </form>                
                    </li>
                </ul>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>



{% endblock %}
