{% extends "base.html" %}

{% block title %}Payments Status{% endblock %}

{% block body %}

        <!-- Add your site or application content here -->
        <div class="container-fluid breadcrumbBox text-center">
            <ol class="breadcrumb">
                <li><a href="../basket">Review</a></li>
                <li><a href="./summary">Summary</a></li>
                <li class="active"><a href="#">Payment</a></li>
            </ol>
        </div>
        <div class="container text-center">
                {% if result.success %}
                <h2><span class="glyphicon glyphicon-ok"></span>THANK YOU FOR YOUR PAYMENTS.</h2>
                {% else %}
                <h2><span class="glyphicon glyphicon-remove"></span>SOMETHING WENT WRONG. PLEASE TRY AGAIN LATER</h2>
                {% endif %}
        </div>


{% endblock %}
