{% extends "base.html" %}

{% block title %}Items{% endblock %}

{% block body %}

        <!-- Add your site or application content here -->

                    <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Page
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">

            </div>
        </div>
        <!-- /.row -->


        <hr>

{% endblock %}
